<%= provide :title, "Home" %>

<div class="center jumbotron">
  <h1>Course Registration System</h1>

  <h2>
    Please login to your account or click on the button below to sign up. 
  </h2>

  <%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %> 
</div>
